In [2]:
pip install pandas

Requirement already satisfied: pandas in ./.local/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /opt/tljh/user/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/tljh/user/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/tljh/user/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in ./.local/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/tljh/user/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install --upgrade pip #upgrade pip

Requirement already satisfied: pip in /opt/tljh/user/lib/python3.10/site-packages (24.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd #import module

In [5]:
pip install pyspark #install pysparks

Requirement already satisfied: pyspark in /opt/tljh/user/lib/python3.10/site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /opt/tljh/user/lib/python3.10/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install pyspark findspark #use findspark

Requirement already satisfied: pyspark in /opt/tljh/user/lib/python3.10/site-packages (3.5.3)
Requirement already satisfied: findspark in /opt/tljh/user/lib/python3.10/site-packages (2.0.1)
Requirement already satisfied: py4j==0.10.9.7 in /opt/tljh/user/lib/python3.10/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import findspark
findspark.init()

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,year #start pysparks session

In [8]:
spark = SparkSession.builder.appName("Job Count").getOrCreate()  #build session

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/05 12:11:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
df = spark.read.csv("postings.csv", header = True) #read csv

In [10]:
df.show() #show dataframe

24/10/05 12:11:37 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+--------------------+--------------------+--------------------+----------+----------+---------+----------+---------------+----------+--------------------+-------------------+--------------------+--------------------+------------------+---------------+---------------+----------------+--------------------+---------------+--------------------------+-----------+-----------+--------------+-----------+---------+--------+-----------------+-----------------+--------+----+
|              job_id|        company_name|               title|         description|max_salary|pay_period| location|company_id|          views|med_salary|          min_salary|formatted_work_type|             applies|original_listed_time|    remote_allowed|job_posting_url|application_url|application_type|              expiry|    closed_time|formatted_experience_level|skills_desc|listed_time|posting_domain|  sponsored|work_type|currency|compensation_type|normalized_salary|zip_code|fips|
+--------------------+--------------------+--------------------+--------------------+----------+----------+---------+----------+---------------+----------+--------------------+-------------------+--------------------+--------------------+------------------+---------------+---------------+----------------+--------------------+---------------+--------------------------+-----------+-----------+--------------+-----------+---------+--------+-----------------+-----------------+--------+----+
|              921716|Corcoran Sawyer S...|Marketing Coordin...|Job descriptionA ...|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|    Pay: $18-20/hour|                NULL|                NULL|                NULL|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|Expected hours: 3...|                NULL|                NULL|                NULL|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|Benefits:Paid tim...|                NULL|                NULL|                NULL|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|",20.0,HOURLY,"Pr...|                 NJ"|           2774458.0|                20.0|      NULL|      17.0|Full-time|       2.0|1713397508000.0|      NULL|https://www.linke...|               NULL|  ComplexOnsiteApply|     1715989508000.0|              NULL|           NULL| Requirements: |            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|We are seeking a ...|        Architecture| Real Estate Deve...|     1713397508000.0|      NULL|         0|FULL_TIME|       USD|    BASE_SALARY|   38480.0|               08540|              34021|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|             1829192|                NULL|Mental Health The...|At Aspen Therapy ...|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|Thank you for tak...| we may be a good...|                NULL|                NULL|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|We are actively l...|       Fort Collins.|                NULL|                NULL|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|We value and are ...| gender equity an...|                NULL|                NULL|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|Position Requirem...| revising as nece...|                NULL|                NULL|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|About Aspen Thera...| working with a v...|                NULL|                NULL|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|Please note that ...|                50.0|              HOURLY|    Fort Collins, CO|      NULL|       1.0|     NULL|      30.0|      Full-time|      NULL|     1712857887000.0|               NULL|https://www.linke...|                NULL|ComplexOnsiteApply|1715449887000.0|           NULL|            NULL|                NULL|1712857887000.0|                      NULL|          0|  FULL_TIME|           USD|BASE_SALARY|  83200.0|   80521|            08069|             NULL|    NULL|NULL|
|            10998357|The National Exem...|Assitant Restaura...|The National Exem...|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|We offer highly c...|          healthcare|       paid time off| complimentary di...|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|    We are a serious|        professional| long-standing ne...|                NULL|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|Please send a res...|             65000.0|              YEARLY|      Cincinnati, OH|64896719.0|       8.0|     NULL|   45000.0|      Full-time|      NULL|     1713277614000.0|               NULL|https://www.linke...|                NULL|ComplexOnsiteApply|1715869614000.0|           NULL|            NULL|We are currently ...|1713277614000.0|                      NULL|          0|  FULL_TIME|           USD|BASE_SALARY|  55000.0|   45202|            39061|             NULL|    NULL|NULL|
|            23221523|Abrams Fensterman...|Senior Elder Law ...|Senior Associate ...|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
|We are a prominen...| detail-oriented ...|      Administration| and Litigation a...|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
| Responsibilities...|                NULL|                NULL|                NULL|      NULL|      NULL|     NULL|      NULL|           NULL|      NULL|                NULL|               NULL|                NULL|                NULL|              NULL|           NULL|           NULL|            NULL|                NULL|           NULL|                      NULL|       NULL|       NULL|          NULL|       NULL|     NULL|    NULL|             NULL|             NULL|    NULL|NULL|
+--------------------+--------------------+--------------------+--------------------+----------+----------+---------+----------+---------------+----------+--------------------+-------------------+--------------------+--------------------+------------------+---------------+---------------+----------------+--------------------+---------------+--------------------------+-----------+-----------+--------------+-----------+---------+--------+-----------------+-----------------+--------+----+
only showing top 20 rows

In [11]:
internships_df = df.filter(df['description'].rlike("(?i)intern")) #check for intern in description

In [12]:
internships_df.show() #look for searches

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+---------------+--------------------+-------------------+-------+--------------------+--------------+--------------------+---------------+-----------------+---------------+-----------+--------------------------+--------------------+---------------+--------------+---------+---------+--------+-----------------+-----------------+--------+-----+
|              job_id|        company_name|               title|         description|          max_salary|          pay_period|            location|          company_id|    views|     med_salary|          min_salary|formatted_work_type|applies|original_listed_time|remote_allowed|     job_posting_url|application_url| application_type|         expiry|closed_time|formatted_experience_level|         skills_desc|    listed_time|posting_domain|sponsored|work_type|currency|compensation_type|normalized_salary|zip_code| fips|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+---------------+--------------------+-------------------+-------+--------------------+--------------+--------------------+---------------+-----------------+---------------+-----------+--------------------------+--------------------+---------------+--------------+---------+---------+--------+-----------------+-----------------+--------+-----+
|            91700727|Downtown Raleigh ...|Economic Developm...|Job summary:The E...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|Position Environm...| with the candida...|          Suite 1150| Raleigh NC. Offi...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|            56482768|                NULL|Appalachian Highl...|FULL JOB DESCRIPT...|                NULL|                NULL|       Kingsport, TN|                NULL|      2.0|           NULL|                NULL|          Full-time|   NULL|     1712870267000.0|          NULL|https://www.linke...|           NULL|SimpleOnsiteApply|1715462267000.0|       NULL|                      NULL|Skills/Qualificat...|1712870267000.0|          NULL|        0|FULL_TIME|    NULL|             NULL|             NULL|   37660|47163|
|           115639136|   Shannon Waltchack|          Controller|WORK @ SWShannon ...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|           141969940|          PRM-TAIWAN|NPE 2024 Exhibiti...|"NPE 2024 Exhibit...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|           705356075|Blackland Home In...|TREC licensed Pro...|Candidate is requ...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|          1014822088|             Tracker|Marketing Specialist|About TrackerTrac...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|          1093227543|               POSHI|Sales Associate N...|OVERVIEW:Poshi LL...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|          1129235875|TURNER HYDRAULICS...|Industrial Sales ...|&nbsp;Job descrip...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|Required Experien...| Mid and Senior l...| et al is preferr...| FDA& internation...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|          2735151240|    LT Apparel Group|Intern- Business ...|Summer Internship...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|          2934066464|         Dynamic SRG|Fundraising Assoc...|The firm:Dynamic ...|                NULL|                NULL|New York City Met...|          10104312.0|     11.0|           NULL|                NULL|          Full-time|   NULL|     1712347292000.0|          NULL|https://www.linke...|           NULL|SimpleOnsiteApply|1714939292000.0|       NULL|                      NULL|                NULL|1712347292000.0|          NULL|        0|FULL_TIME|    NULL|             NULL|             NULL|    NULL| NULL|
|          3040487795|            Lead Lab|Digital Marketing...|We are looking fo...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|          3196627399|Bellevue Downtown...|Marketing & Commu...|Marketing & Commu...|                NULL|              HOURLY|        Bellevue, WA|             88304.0|      2.0|           17.0|                NULL|          Part-time|   NULL|     1713482516000.0|          NULL|https://www.linke...|           NULL|SimpleOnsiteApply|1716074516000.0|       NULL|                      NULL|                NULL|1713482516000.0|          NULL|        0|PART_TIME|     USD|      BASE_SALARY|          35360.0|   98004|53033|
|          3379554375|Nebraska Public M...|    Finishing Editor|Nebraska Public M...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|          3452435884|                NULL|     Account Manager|The ideal candida...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|Qualifications re...| Master of Scienc...| work on multiple...| and manage assig...|    summer positions| school jobs)CPA ...|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|          3478651125|             Axalume|Photonics Layout ...|Job descriptionAx...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|Job Description: ...|           materials| or an MBA is adv...| particularly in ...| including collab...| particularly wit...|         reliability| and a strong com...| firearms| sporting goods| and electronics ...|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
|          3586242087|                NULL|   Director of Sales|Company Descripti...|                NULL|                NULL|                NULL|                NULL|     NULL|           NULL|                NULL|               NULL|   NULL|                NULL|          NULL|                NULL|           NULL|             NULL|           NULL|       NULL|                      NULL|                NULL|           NULL|          NULL|     NULL|     NULL|    NULL|             NULL|             NULL|    NULL| NULL|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+---------------+--------------------+-------------------+-------+--------------------+--------------+--------------------+---------------+-----------------+---------------+-----------+--------------------------+--------------------+---------------+--------------+---------+---------+--------+-----------------+-----------------+--------+-----+
only showing top 20 rows

In [13]:
city_internship_counts = internships_df.groupBy('location').count() #look @ loaction

In [14]:
city_internship_counts_sorted = city_internship_counts.orderBy(col('count').desc()) #count by columns

In [15]:
city_internship_counts_sorted.show()

+--------------------+-----+
|            location|count|
+--------------------+-----+
|                NULL| 6275|
|       United States|  153|
|        New York, NY|   43|
| Anesthesiology a...|   33|
| be asked to code...|   29|
|New York City Met...|   28|
|    offer assistance|   28|
|         Chicago, IL|   25|
|                 age|   23|
|         Houston, TX|   21|
|         Atlanta, GA|   19|
|      Washington, DC|   18|
| including spam/j...|   18|
|New York, United ...|   17|
|          Dallas, TX|   17|
|          Boston, MA|   16|
| and Israel and t...|   16|
|               Excel|   13|
|         Phoenix, AZ|   13|
| the Company and ...|   13|
+--------------------+-----+
only showing top 20 rows

In [16]:
from pyspark.sql.functions import trim
from pyspark.sql.functions import split

In [17]:
city_internship_counts_sorted = city_internship_counts_sorted.withColumn('location_clean', trim(col('location')))
 #trim by commas

In [18]:
city_internship_counts_sorted.show()

+--------------------+-----+--------------------+
|            location|count|      location_clean|
+--------------------+-----+--------------------+
|                NULL| 6275|                NULL|
|       United States|  153|       United States|
|        New York, NY|   43|        New York, NY|
| Anesthesiology a...|   33|Anesthesiology an...|
| be asked to code...|   29|be asked to code ...|
|New York City Met...|   28|New York City Met...|
|    offer assistance|   28|    offer assistance|
|         Chicago, IL|   25|         Chicago, IL|
|                 age|   23|                 age|
|         Houston, TX|   21|         Houston, TX|
|         Atlanta, GA|   19|         Atlanta, GA|
|      Washington, DC|   18|      Washington, DC|
| including spam/j...|   18|including spam/ju...|
|New York, United ...|   17|New York, United ...|
|          Dallas, TX|   17|          Dallas, TX|
|          Boston, MA|   16|          Boston, MA|
| and Israel and t...|   16|and Israel and tr...|
|               Excel|   13|               Excel|
|         Phoenix, AZ|   13|         Phoenix, AZ|
| the Company and ...|   13|the Company and i...|
+--------------------+-----+--------------------+
only showing top 20 rows

In [19]:
df_with_comma = city_internship_counts_sorted.filter(col('location').rlike(",")) #harmonize

In [20]:
df_with_comma.show()

+--------------------+-----+--------------------+
|            location|count|      location_clean|
+--------------------+-----+--------------------+
|        New York, NY|   43|        New York, NY|
|         Chicago, IL|   25|         Chicago, IL|
|         Houston, TX|   21|         Houston, TX|
|         Atlanta, GA|   19|         Atlanta, GA|
|      Washington, DC|   18|      Washington, DC|
|          Dallas, TX|   17|          Dallas, TX|
|New York, United ...|   17|New York, United ...|
|          Boston, MA|   16|          Boston, MA|
|         Phoenix, AZ|   13|         Phoenix, AZ|
|       Charlotte, NC|   12|       Charlotte, NC|
|      Greenville, SC|   11|      Greenville, SC|
|Texas, United States|   11|Texas, United States|
|       San Diego, CA|   11|       San Diego, CA|
|          Austin, TX|   11|          Austin, TX|
|          Denver, CO|   10|          Denver, CO|
|         Raleigh, NC|   10|         Raleigh, NC|
|           Greer, SC|   10|           Greer, SC|
|           Tampa, FL|    9|           Tampa, FL|
|         Seattle, WA|    9|         Seattle, WA|
|    Indianapolis, IN|    8|    Indianapolis, IN|
+--------------------+-----+--------------------+
only showing top 20 rows

In [21]:
df_with_comma = df_with_comma.drop("location")

In [22]:
df_with_comma = df_with_comma.select("location_clean", "count") #clean locations

In [23]:
df_renamed = df_with_comma.withColumnRenamed("location_clean", "location")

In [24]:
df_renamed.show() #show datas

+--------------------+-----+
|            location|count|
+--------------------+-----+
|        New York, NY|   43|
|         Chicago, IL|   25|
|         Houston, TX|   21|
|         Atlanta, GA|   19|
|      Washington, DC|   18|
|          Dallas, TX|   17|
|New York, United ...|   17|
|          Boston, MA|   16|
|         Phoenix, AZ|   13|
|       Charlotte, NC|   12|
|      Greenville, SC|   11|
|Texas, United States|   11|
|       San Diego, CA|   11|
|          Austin, TX|   11|
|          Denver, CO|   10|
|         Raleigh, NC|   10|
|           Greer, SC|   10|
|           Tampa, FL|    9|
|         Seattle, WA|    9|
|    Indianapolis, IN|    8|
+--------------------+-----+
only showing top 20 rows

In [25]:
pandas_df = df_renamed.toPandas() #print pandas

In [26]:
df_filtered = pandas_df[~pandas_df['location'].isin(["New York, United States", "Texas, United States", "California, United States"])]

In [27]:
print(df_filtered) #filtered data

                               location  count
0                          New York, NY     43
1                           Chicago, IL     25
2                           Houston, TX     21
3                           Atlanta, GA     19
4                        Washington, DC     18
..                                  ...    ...
496                           Ocala, FL      1
497                            York, PA      1
498  Albany, New York Metropolitan Area      1
499                  Oakland County, MI      1
500                          Newark, DE      1

[498 rows x 2 columns]

In [28]:
locations_list = df_filtered['location'].to_list() #look @ list

In [29]:
my_dict = df_filtered.set_index('location')['count'].to_dict()

In [30]:
for key in my_dict.keys():
    if ", TN" in key:
        print(key,my_dict[key])

Nashville, TN 3
Chattanooga, TN 3
Columbia, TN 2
Kingsport, TN 1
Gallatin, TN 1
Memphis, TN 1
Franklin, TN 1
Johnson City, TN 1

In [31]:
df_first_20 = df_filtered.head(20)

In [32]:
list_of_locations = df_first_20["location"].to_list()

In [33]:
print(list_of_locations)

['New York, NY', 'Chicago, IL', 'Houston, TX', 'Atlanta, GA', 'Washington, DC', 'Dallas, TX', 'Boston, MA', 'Phoenix, AZ', 'Charlotte, NC', 'San Diego, CA', 'Greenville, SC', 'Austin, TX', 'Denver, CO', 'Raleigh, NC', 'Greer, SC', 'Seattle, WA', 'Tampa, FL', 'Indianapolis, IN', 'Orlando, FL', 'Cincinnati, OH']

In [34]:
counties = [
    "New York County",  # New York, NY
    "Cook County",  # Chicago, IL
    "Harris County",  # Houston, TX
    "Fulton County", # Atlanta, GA
    "Independent city",  # Washington, DC
    "Dallas County",  # Dallas, TX
    "Suffolk County",  # Boston, MA
    "Maricopa County",  # Phoenix, AZ
    "Mecklenburg County",  # Charlotte, NC
    "San Diego County",  # San Diego, CA
    "Greenville County",  # Greenville, SC
    "Travis County",  # Austin, TX
    "Denver County",  # Denver, CO
    "Wake County",  # Raleigh, NC
    "Greenville County",  # Greer, SC
    "King County",  # Seattle, WA
    "Hillsborough County",  # Tampa, FL
    "Marion County",  # Indianapolis, IN
    "Orange County",  # Orlando, FL
    "Hamilton County"  # Cincinnati, OH
]

In [36]:
df_first_20.loc[:, 'County'] = counties

In [45]:
df_first_20 = df_first_20[['location', 'County', 'count']]

In [56]:
df_first_20.rename(columns={'count': 'Internship Postings'}) #get the postings

            location               County  Internship Postings
0       New York, NY      New York County                   43
1        Chicago, IL          Cook County                   25
2        Houston, TX        Harris County                   21
3        Atlanta, GA        Fulton County                   19
4     Washington, DC     Independent city                   18
5         Dallas, TX        Dallas County                   17
7         Boston, MA       Suffolk County                   16
8        Phoenix, AZ      Maricopa County                   13
9      Charlotte, NC   Mecklenburg County                   12
11     San Diego, CA     San Diego County                   11
12    Greenville, SC    Greenville County                   11
13        Austin, TX        Travis County                   11
14        Denver, CO        Denver County                   10
15       Raleigh, NC          Wake County                   10
16         Greer, SC    Greenville County                   10
17       Seattle, WA          King County                    9
18         Tampa, FL  Hillsborough County                    9
19  Indianapolis, IN        Marion County                    8
21       Orlando, FL        Orange County                    8
22    Cincinnati, OH      Hamilton County                    7

In [57]:
print(df_first_20) #print the counties

            location               County  count
0       New York, NY      New York County     43
1        Chicago, IL          Cook County     25
2        Houston, TX        Harris County     21
3        Atlanta, GA        Fulton County     19
4     Washington, DC     Independent city     18
5         Dallas, TX        Dallas County     17
7         Boston, MA       Suffolk County     16
8        Phoenix, AZ      Maricopa County     13
9      Charlotte, NC   Mecklenburg County     12
11     San Diego, CA     San Diego County     11
12    Greenville, SC    Greenville County     11
13        Austin, TX        Travis County     11
14        Denver, CO        Denver County     10
15       Raleigh, NC          Wake County     10
16         Greer, SC    Greenville County     10
17       Seattle, WA          King County      9
18         Tampa, FL  Hillsborough County      9
19  Indianapolis, IN        Marion County      8
21       Orlando, FL        Orange County      8
22    Cincinnati, OH      Hamilton County      7

In [48]:
new_series = df_first_20["County"]

In [49]:
new_df = new_series.to_frame()

In [50]:
print(new_df)

                 County
0       New York County
1           Cook County
2         Harris County
3         Fulton County
4      Independent city
5         Dallas County
7        Suffolk County
8       Maricopa County
9    Mecklenburg County
11     San Diego County
12    Greenville County
13        Travis County
14        Denver County
15          Wake County
16    Greenville County
17          King County
18  Hillsborough County
19        Marion County
21        Orange County
22      Hamilton County

In [1]:
internship_postings = df_first_20["count"]

NameError: name 'df_first_20' is not defined

In [59]:
new_df["Internship Postings by County"] = internship_postings

In [60]:
print(new_df)

                 County  Internship Postings by County
0       New York County                             43
1           Cook County                             25
2         Harris County                             21
3         Fulton County                             19
4      Independent city                             18
5         Dallas County                             17
7        Suffolk County                             16
8       Maricopa County                             13
9    Mecklenburg County                             12
11     San Diego County                             11
12    Greenville County                             11
13        Travis County                             11
14        Denver County                             10
15          Wake County                             10
16    Greenville County                             10
17          King County                              9
18  Hillsborough County                              9
19        Marion County                              8
21        Orange County                              8
22      Hamilton County                              7

In [54]:
new_df.to_csv("internships_by_county.csv", index = False)

                 County
0       New York County
1           Cook County
2         Harris County
3         Fulton County
4      Independent city
5         Dallas County
7        Suffolk County
8       Maricopa County
9    Mecklenburg County
11     San Diego County
12    Greenville County
13        Travis County
14        Denver County
15          Wake County
16    Greenville County
17          King County
18  Hillsborough County
19        Marion County
21        Orange County
22      Hamilton County

In [63]:
pip install numpy<2

/bin/bash: line 1: 2: No such file or directory
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install numpy

Requirement already satisfied: numpy in ./.local/lib/python3.10/site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
%pip install numpy

Requirement already satisfied: numpy in /opt/tljh/user/lib/python3.10/site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import numpy as np

In [16]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/tljh/user/lib/python3.10/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in ./.local/lib/python3.10/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /opt/tljh/user/lib/python3.10/site-packages (from seaborn) (3.8.1)
Requirement already satisfied: contourpy>=1.0.1 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.43.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/tljh/user/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in ./.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/tljh/user/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.